# COVID-19 dataset

This is a dataset derived from the cdc-website containing only laboratory confirmed cases of covid in subjects aged 18 and above(adults) and resident in Maryland, from 2019 to 2023

In [17]:
#importing dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

## Extracting the data

In [26]:
# Reading the data into a Pandas DataFrame
covid_df = pd.read_csv('Resources\COVID-19_Case_Surveillance_Public_Use_Data_with_Geography_20240613.csv')
covid_df.head()

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2021-07,MD,24,MONTGOMERY,24031.0,18 to 49 years,Female,White,Hispanic/Latino,NaN,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Missing,Missing,No,Yes
1,2022-01,MD,24,WASHINGTON,24043.0,18 to 49 years,Female,White,Missing,NaN,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,No,Yes
2,2022-07,MD,24,CAROLINE,24011.0,18 to 49 years,Female,White,Missing,NaN,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,No,Yes
3,2021-06,MD,24,TALBOT,24041.0,18 to 49 years,NaN,NaN,NaN,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,No,Missing,No,Yes
4,2021-06,MD,24,TALBOT,24041.0,18 to 49 years,NaN,NaN,NaN,NaN,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,No,Missing,No,Yes

In [27]:
# Get a brief summary of the DataFrame.
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2132 entries, 0 to 2131
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   case_month                       2132 non-null   object
 1   res_state                        2132 non-null   object
 2   state_fips_code                  2132 non-null   int64
 3   res_county                       2105 non-null   object
 4   county_fips_code                 2105 non-null   float64
 5   age_group                        2113 non-null   object
 6   sex                              2088 non-null   object
 7   race                             1757 non-null   object
 8   ethnicity                        1714 non-null   object
 9   case_positive_specimen_interval  12 non-null     float64
 10  case_onset_interval              1704 non-null   float64
 11  process                          2132 non-null   object
 12  exposure_yn                      2132 non-null   object
 13  current_status                   2132 non-null   object
 14  symptom_status                   2132 non-null   object
 15  hosp_yn                          2132 non-null   object
 16  icu_yn                           2132 non-null   object
 17  death_yn                         2080 non-null   object
 18  underlying_conditions_yn         2132 non-null   object
dtypes: float64(3), int64(1), object(15)
memory usage: 316.6+ KB

In [28]:
#removing unneccessary columns
covid_df = covid_df.drop(columns =["case_positive_specimen_interval","case_onset_interval","process","current_status","state_fips_code"])
covid_df.head()

,case_month,res_state,res_county,county_fips_code,age_group,sex,race,ethnicity,exposure_yn,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2021-07,MD,MONTGOMERY,24031.0,18 to 49 years,Female,White,Hispanic/Latino,Missing,Symptomatic,Missing,Missing,No,Yes
1,2022-01,MD,WASHINGTON,24043.0,18 to 49 years,Female,White,Missing,Missing,Symptomatic,No,Missing,No,Yes
2,2022-07,MD,CAROLINE,24011.0,18 to 49 years,Female,White,Missing,Missing,Symptomatic,No,Missing,No,Yes
3,2021-06,MD,TALBOT,24041.0,18 to 49 years,NaN,NaN,NaN,Missing,Missing,No,Missing,No,Yes
4,2021-06,MD,TALBOT,24041.0,18 to 49 years,NaN,NaN,NaN,Missing,Symptomatic,No,Missing,No,Yes

In [29]:
covid = covid_df.dropna(how = "any")
covid.head()

,case_month,res_state,res_county,county_fips_code,age_group,sex,race,ethnicity,exposure_yn,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2021-07,MD,MONTGOMERY,24031.0,18 to 49 years,Female,White,Hispanic/Latino,Missing,Symptomatic,Missing,Missing,No,Yes
1,2022-01,MD,WASHINGTON,24043.0,18 to 49 years,Female,White,Missing,Missing,Symptomatic,No,Missing,No,Yes
2,2022-07,MD,CAROLINE,24011.0,18 to 49 years,Female,White,Missing,Missing,Symptomatic,No,Missing,No,Yes
5,2020-08,MD,BALTIMORE,24005.0,18 to 49 years,Female,White,Hispanic/Latino,Missing,Missing,Yes,Missing,No,Yes
7,2021-12,MD,CALVERT,24009.0,18 to 49 years,Female,White,Missing,Missing,Symptomatic,No,Missing,No,Yes

In [31]:
#checking characteristics of remaining columns
covid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1682 entries, 0 to 2108
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   case_month                1682 non-null   object
 1   res_state                 1682 non-null   object
 2   res_county                1682 non-null   object
 3   county_fips_code          1682 non-null   float64
 4   age_group                 1682 non-null   object
 5   sex                       1682 non-null   object
 6   race                      1682 non-null   object
 7   ethnicity                 1682 non-null   object
 8   exposure_yn               1682 non-null   object
 9   symptom_status            1682 non-null   object
 10  hosp_yn                   1682 non-null   object
 11  icu_yn                    1682 non-null   object
 12  death_yn                  1682 non-null   object
 13  underlying_conditions_yn  1682 non-null   object
dtypes: float64(1), object(13)
memory usage: 197.1+ KB

In [35]:
#splitting date into month and year
#covid['case_month'] = pd.to_datetime(covid['case_month'])

# extracting the month and year components
covid['month'] = covid['case_month'].dt.month
covid['year'] = covid['case_month'].dt.year

covid.head()

C:\Users\andre\AppData\Local\Temp\ipykernel_31040\1300989259.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid['month'] = covid['case_month'].dt.month
C:\Users\andre\AppData\Local\Temp\ipykernel_31040\1300989259.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid['year'] = covid['case_month'].dt.year

,case_month,res_state,res_county,county_fips_code,age_group,sex,race,ethnicity,exposure_yn,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn,month,year
0,2021-07-01,MD,MONTGOMERY,24031.0,18 to 49 years,Female,White,Hispanic/Latino,Missing,Symptomatic,Missing,Missing,No,Yes,7,2021
1,2022-01-01,MD,WASHINGTON,24043.0,18 to 49 years,Female,White,Missing,Missing,Symptomatic,No,Missing,No,Yes,1,2022
2,2022-07-01,MD,CAROLINE,24011.0,18 to 49 years,Female,White,Missing,Missing,Symptomatic,No,Missing,No,Yes,7,2022
5,2020-08-01,MD,BALTIMORE,24005.0,18 to 49 years,Female,White,Hispanic/Latino,Missing,Missing,Yes,Missing,No,Yes,8,2020
7,2021-12-01,MD,CALVERT,24009.0,18 to 49 years,Female,White,Missing,Missing,Symptomatic,No,Missing,No,Yes,12,2021

In [37]:
#determining numberof uunique ethnicities
covid["race"].value_counts()

White                            873
Black                            663
Asian                             69
Multiple/Other                    30
Missing                           25
Unknown                           21
American Indian/Alaska Native      1
Name: race, dtype: int64

In [68]:
race_df = pd.DataFrame(covid.groupby("race").count())
race_df

,case_month,res_state,res_county,county_fips_code,age_group,sex,ethnicity,exposure_yn,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn,month,year
race,,,,,,,,,,,,,,,
American Indian/Alaska Native,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Asian,69,69,69,69,69,69,69,69,69,69,69,69,69,69,69
Black,663,663,663,663,663,663,663,663,663,663,663,663,663,663,663
Missing,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25
Multiple/Other,30,30,30,30,30,30,30,30,30,30,30,30,30,30,30
Unknown,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21
White,873,873,873,873,873,873,873,873,873,873,873,873,873,873,873

In [63]:
#determing which county had the highest number of cases
county_df = pd.DataFrame(covid.groupby("res_county")["case_month"].count())
county_df_sorted = pd.DataFrame(county_df["case_month"].sort_values(ascending = False))
county_final = county_df_sorted.rename(columns ={"case_month":"case_count"})
county_final

                 case_count
res_county
BALTIMORE               302
BALTIMORE CITY          247
PRINCE GEORGE'S         236
MONTGOMERY              189
ANNE ARUNDEL            175
CARROLL                  74
FREDERICK                74
HARFORD                  47
HOWARD                   47
ST. MARY'S               42
WASHINGTON               41
WICOMICO                 37
CECIL                    33
CHARLES                  27
ALLEGANY                 19
DORCHESTER               17
WORCESTER                17
CALVERT                  14
TALBOT                   13
CAROLINE                 13
QUEEN ANNE'S             10
SOMERSET                  8

In [ ]:
year_df = pd.DataFrame(covid.groupby("year")["case_month"].count())